<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key ="URL" value ="https://api.cowriesys.com:2443"/>
      <add key ="ClientId" value="ClientId"/>
      <add key ="ClientKey" value="ClientKey"/>
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>